{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{# Проверка: авторизован ли пользователь как администратор #}
{% if particle.admin_only == false or (grav.user.authenticated and grav.user.authorize('admin.login')) %}
<div class="productdiv-particle {{ particle.css.class }}">
    {# Подключение ProductDiv CDN #}
    <script src="https://cdn.jsdelivr.net/npm/productdiv@{{ particle.cdn_version|default('latest') }}/dist/productdiv.min.js"></script>
    
    {# Подключение конфигурации ProductDiv #}
    <script src="{{ url('theme://js/productdiv-config.js') }}"></script>
    
    <script>
        // Инициализация ProductDiv с конфигурацией
        (function() {
            // Ожидаем загрузки конфигурации
            if (typeof ProductDivConfig !== 'undefined') {
                window.ProductDiv(ProductDivConfig.configuration, ProductDivConfig.editorOptions);
            } else {
                console.warn('ProductDiv configuration not loaded. Using default settings.');
                // Базовая инициализация если конфигурация не загрузилась
                window.ProductDiv({
                    treeViewIgnoreQuerySelectors: [
                        'script',
                        'style',
                        'link',
                        '[data-productdiv="true"]',
                        'svg'
                    ],
                    utilityClasses: [],
                    templates: []
                });
            }
        })();
    </script>
</div>
{% endif %}
{% endblock %}
